body{
	border-image: 5px black;
	background-color:white;
	color: black;
	font-family: �Trebuchet MS�, Verdana, Arial, Helvetica, sans-serif;
}
#logo{
	background-image:url(http://i446.photobucket.com/albums/qq189/neokalvinist/Fishing/titlewithtitle_zps49b3eeeb.jpg);
    border-image: 5px black;
	display:block;
    height:281px;
    width:950px;
	overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
	margin:auto;
}
h1{


}
.paragraph, .sidemenu, .fishpics, img {
	background-color: #145EFF;
	border: 2px solid black;
}
.everything{
	width: 700px;
	margin: auto;
}
.firstsection{
	margin-top: 30px;
}
.paragraph{
	width:500px;	
	float:left;
}
.image{
	float:left;
	margin: 5px;
}
.sidemenu{
	font-size: .75em;
	font-weight: bold;
	width: 180px;
	float:right;
	height:auto;
	padding: 3px
}
.separate{
	clear:both;
	width: 700px;
	height: 7px;
}
.fishtable{
	clear:both;
	position: center;
}
.fishpics{
	clear:both;
	text-align: center;
}
.map{
	text-align: center;
}
.scroll{
	background-image: url(http://i446.photobucket.com/albums/qq189/neokalvinist/Fishing/Leather_Paper_Scroll_clip_art_medium2-1.gif);
	background-size: 270px;
	background-position: 50%;
	background-repeat: no-repeat;
	font-family: courier , verdana, sans-serif;
	font-size: 17px;
}
p{
	text-indent: 2em;
	text-align: left;	
	padding: 5px;
}	
hr{
	clear: both;
	size:3;
}
a:link {
	color: black;
	text-align:left;
	text-decoration: none;
}
a:visited {
	color: black;
}
.fishpics a:hover {
	color: orange;
	font-style: italic;
}
img {
   padding:1px;
}
footer{
	clear: both;
	text-align: center;
}
.github{
	float:right;
	font-size:12px;
}
body{
/* default background colour, for all layout engines that don't implement gradients */
background: #2a6da9;

/* gecko based browsers */
background: -moz-linear-gradient(top, #55aaee, #003366);

/* webkit based browsers */
background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));

color: #000000; /* text colour (black) */
height: auto; /* gradient uses the full height of the element */
padding: 5px; /* distance from border edge to text */
}
